/* 我的基地-数字基地 */

.custom-light .baseInformation i {
    color: #8d8f97 !important;
}

.custom-light .baseInformation p {
    color: #fefeff !important;
}

/* 渔业管理-池塘管理 */

.custom-light .bigBox p {
    color: #b4b4bc;
}

.custom-light .infoTitle .pondName {
    color: #fff !important;
}

.custom-light .main {
    border: 1px solid #1b1b38 !important;
}